*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: white !important;
  color: black !important;
}
a{
  text-decoration: none;
  color: black;
}
.productCard:hover{
  border: 1px solid black;
}
.form{
  width:500px;
  margin: auto;
  background-color: white;
  margin-bottom: 20px;
}
.form-wrapper{
  min-height: 75vh;
  
}
.productImage{
  cursor: pointer;
}
.productImage:hover{
  border: 1px solid black;
}
@media (max-width:479px) {
  .productImage{
    width: 50px;
  }
  
}